rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /questions/{question} {
      allow create: if request.auth != null
                    && request.resource.data.title.size() < 255
                    && request.resource.data.keys().hasOnly(['title']);
      allow read: if request.auth != null;
      allow update: if false;
      allow delete: if false;
    }
  }
}